trigger:
  branches:
    include:
      - master
  tags:
    include:
      - 'v*'

pool:
  vmImage: 'ubuntu-latest'

stages:
  # Build & Validate on every push
  - stage: Build
    displayName: 'Build & Validate'
    jobs:
      - job: BuildJob
        displayName: 'Build Extension'
        steps:
          - task: NodeTool@0
            inputs:
              versionSpec: '25.x'
            displayName: 'Install Node.js'

          - script: npm ci
            displayName: 'Install dependencies'

          - script: npm run compile
            displayName: 'Compile TypeScript'

          - script: npx @vscode/vsce package --no-dependencies
            displayName: 'Package extension'

          - task: PublishBuildArtifacts@1
            inputs:
              pathToPublish: '$(Build.SourcesDirectory)/*.vsix'
              artifactName: 'vsix'
            displayName: 'Publish VSIX artifact'

  # Publish only on version tags (v0.0.2, v1.0.0, etc.)
  - stage: Publish
    displayName: 'Publish to Marketplace'
    dependsOn: Build
    condition: and(succeeded(), startsWith(variables['Build.SourceBranch'], 'refs/tags/v'))
    jobs:
      - job: PublishJob
        displayName: 'Publish Extension'
        steps:
          - task: NodeTool@0
            inputs:
              versionSpec: '25.x'
            displayName: 'Install Node.js'

          - script: npm ci
            displayName: 'Install dependencies'

          - script: npx @vscode/vsce publish -p $(VSCE_PAT)
            displayName: 'Publish to VS Code Marketplace'
            env:
              VSCE_PAT: $(VSCE_PAT)
